.main{
  width: 100%;
  text-align: center;
}

.product_img{
  width: 90%;
  margin: 1%;
}

.kintone_container{
  background-color: #ffbf00;
}

.office_container{
  background-color: #1992d4;
}

.garoon_container{
  background-color: #003399;
}

.mailwise_container{
  background-color: #df4356;
}

html,
body {
  height: 100%;
  margin: 0;
}
header {
  background-color: #1aaedb;
  border-bottom: #ead963 6px solid;
}
.container {
  padding: 16px;
  padding-left: 120px;
}
header h1,
header h2 {
  margin: 0;
  color: #fff;
  line-height: 1;
}
header h1 {
  padding: 30px 0 5px 0;
  font-size: 24px;
  border-bottom: 1px dotted #fff;
  font-weight: 500;
}
header h2 {
  padding: 6px 0 0 0;
  font-size: 14px;
  font-weight: 400;
}